@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* latin-ext */
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Azert-Mono.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Azert-Mono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Azert-Mono.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Azert-Mono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Azert-Mono.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Azert-Mono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Pilcrowrounded Heavy';
  src: url('../fonts/PilcrowRounded-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



body{
  background: #fff6e6;
  height: 100vh;
  width: 100%;
  color: #ff5227;

}

.opacity{
  opacity: .3;
}

.climate{
  font-family: "Climate Crisis", sans-serif;
}

.inst-sans{
  font-family: "Instrument Sans", sans-serif;
}

img{
  max-width: 100%;
}

input::placeholder{
  font-family: "Instrument Sans", sans-serif;
  color: #ff5227b2;
  border: #ff5227;
}


input{
  outline: none;
}

.space-y{
  padding-top: 2rem;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Pilcrowrounded Heavy";
  
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.btn:hover .loader{
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite ;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #ff5227b2;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

input::placeholder{
  font-family: 'Azeret Mono', sans-serif;
}

.patty{
  font-family: "Pilcrowrounded Heavy";
}

.azert{
  font-family: 'Azeret Mono', sans-serif;
}

p, a, li, span, button{
  font-family: 'Azeret Mono', sans-serif;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
}

.space-x{
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn.--orange{
  background: #ff5227;
  color: #Fff;
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  font-size: 1.5rem;
}

.btn.--border-orange{
  background: transparent;
  color: #ff5227;
  border: 1px solid #ff5227;
  padding: 1rem 2.5rem;
  width: 100%;
  border-radius: 10rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.btn.--border-orange:hover{
  background: #ff5227;
  color: #fff;
  transition: .3s;
}

.swiper-button-prev{
  left: auto !important;
  right: 4rem !important;
  top: 2rem !important;
  border:  1px solid #ff5227 !important;
  padding: 1.5rem !important;
  border-radius: 50% !important;
  color: #ff5227 !important;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.swiper-button-next{
  right: 0 !important;
  top: 2rem !important;
  border:  1px solid #ff5227 !important;
  padding: 1.5rem !important;
  border-radius: 50% !important;
  color: #ff5227 !important;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.swiper-button-next::after, .swiper-button-prev::after{
  font-size: 1rem !important;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
  background: #ff5227 !important;
  color: #fff !important;
}








